<div>local: {{counter | format | async}}</div>
<button (click)="inc()">inc local</button>

<div>shared: {{counterService.counter | format | async}}</div>
<button (click)="counterService.inc()">inc shared</button>
