clock: {{ clock | async }}
<div>
  <div>
    <input type="text" [(ngModel)]="keyword" (ngModelChange)="image = getImage()"/>
  </div>
  <img [src]="image | async" *ngIf="image | async" hidden/>
  <p *ngIf="!(image | async)" hidden>no image</p>
  <div>
    {{keyword}}
  </div>
</div>

<div>
  <label>Format Unit: ({{unit | async}})</label>
  <input type="number" (change)="setUnit($event)" [ngModel]="unit | async">
</div>

<h1>counter 1</h1>
<app-counter></app-counter>

<h1>counter 2</h1>
<app-counter></app-counter>
